<main>
    <header>
        <app-navbar></app-navbar>
    </header>
    <div class="main-component container d-flex justify-content-center">
        <div class="izvestaj-container">
            <h1 class="d-flex justify-content-center header">Izvestaji: </h1>
            <div class="izvestaj-container-inner" *ngFor="let izvestaj of izvestajList">
                <p><span class="span">Datum:</span> {{izvestaj.datum}}</p>
                <p><span class="span">Vreme:</span> {{izvestaj.vreme}}</p>
                <p><span class="span">Razlog dolaska:</span> {{izvestaj.razlogDolaska}}</p>
                <p><span class="span">Dijagnoza</span> {{izvestaj.dijagnoza}}</p>
                <p><span class="span">Terapija:</span> {{izvestaj.terapija}}</p>
                <p><span class="span">Datum sledeceg pregleda:</span> {{izvestaj.datumSledecegPregleda}}</p>
            </div>
            <div *ngIf="izvestajList?.length == 0">
                <h4>Nema prethodnih izvestaja za ovog pacijenta</h4>
            </div>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</main>