<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-evenly">
            <a class="nav-link" aria-current="page" routerLink="/pacijent/profil">Profil</a>
            <a class="nav-link active my-active" routerLink="/pacijent/lekari">Lekari</a>
            <a class="nav-link" href="pacijent">Pregledi</a>
            <a class="nav-link" href="pacijent">Obavestenja</a>
            <div *ngIf="isLoggedIn()">
                <button (click)="logout()">Odjava</button>
            </div>
        </div>
    </nav>
</header>
<app-tabela-lekara></app-tabela-lekara>