<div *ngIf="showComponent">
    <form #userEditForm="ngForm">
        <div>
            <label>KorisnickoIme</label>
            <input type="text" [(ngModel)]="formInput.korisnickoIme" name="korisnickoIme">
        </div>
        <div>
            <label>Lozinka</label>
            <input type="text" [(ngModel)]="formInput.lozinka" name="lozinka">
        </div>
        <div>
            <label>Ime</label>
            <input type="text" [(ngModel)]="formInput.ime" name="ime">
        </div>
        <div>
            <label>Prezime</label>
            <input type="text" [(ngModel)]="formInput.prezime" name="prezime">
        </div>
        <div>
            <label>Adresa</label>
            <input type="text" [(ngModel)]="formInput.adresa" name="adresa">
        </div>
        <div>
            <label>Kontakt Telefon</label>
            <input type="text" [(ngModel)]="formInput.kontaktTelefon" name="kontaktTelefon">
        </div>
        <div>
            <label>Email</label>
            <input type="text" [(ngModel)]="formInput.email" name="email">
        </div>
        <div>
            <button (click)="saveChanges(userEditForm)">Sacuvaj</button>
            <button (click)="discardChanges()">Odbaci</button>
        </div>
    </form>    
</div>