main {
    height: 100%;
}

.main-component {
    min-height: 100%;
    background-image: url('../../../../assets/3156743.jpg');
}

.my-container {
    width: 780px;
    height: 100%;
    background-color: rgb(240, 240, 240);
    padding: 3%;
    border-radius: 40px;
    border-color: rgb(69, 69, 75);;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image {
    width: max-content;
    height: max-content;
}

p {
    font-size: 24px;
}

.table-th {
    background-color: rgb(69, 69, 75);
    color: white;
}

.table-td {
    display: flex;
    align-items: center;
}

.my-table {
    margin-top: 20px;
}

.table-text {
    background: none;
    font-size: 18px;
    font-family: Georgia, serif;
}

.button {
    background-color: rgb(69, 69, 75);
    color: white;
    margin-top: 20px;
}

.span {
    color: rgb(120, 190, 60);
    text-shadow: 1px 1px 1px black;
}

.header {
    color: rgb(120, 190, 60);
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-component {
    margin-bottom: 2px;
}

.button {
    background-color: rgb(69, 69, 75);
    color: white;
    margin-top: 20px;
}