<nav class="navbar my-navbar">
    <div class="container justify-content-end" *ngIf="userType == 'pacijent'">
        <a class="nav-link navbar-link" [class.active-link]="router.url == '/pacijent/profil'" routerLink="/pacijent/profil"><i class="gg-profile"></i></a>
        <a class="nav-link navbar-link" [class.active-link]="router.url == '/pacijent/lekari'" routerLink="/pacijent/lekari"><i class="gg-user-list"></i></a>
        <a class="nav-link navbar-link" [class.active-link]="router.url == '/pacijent/pregledi'" routerLink="/pacijent/pregledi"><i class="gg-calendar"></i></a>
        <a class="nav-link navbar-link"><i class="gg-bell"></i></a>
        <button class="btn btn-light button" (click)="logout()">Odjava</button>
    </div>
    <div class="container justify-content-around" *ngIf="userType == 'lekar'">
        <a class="nav-link navbar-link" routerLink="/lekar/profil">Profil</a>
        <a class="nav-link navbar-link" routerLink="/lekar/pregledi">Pregledi</a>
        <a class="nav-link navbar-link" routerLink="/lekar/razno">Razno</a>
        <button class="btn btn-light button" (click)="logout()">Odjava</button>
    </div>
    <div *ngIf="userType == 'menadzer'">
        <button class="btn btn-light button" (click)="logout()">Odjava</button>
    </div>
    <div class="container" *ngIf="!isLoggedIn()">
        <button class="btn btn-light button" (click)="goToLogin()">Prijava</button>
    </div>
</nav>