<nav class="navbar my-navbar">
    <div class="container justify-content-around" *ngIf="userType == 'pacijent'">
        <a class="nav-link navbar-link" routerLink="/pacijent/profil">Profil</a>
        <a class="nav-link navbar-link" routerLink="/pacijent/lekari">Lekari</a>
        <a class="nav-link navbar-link" routerLink="/pacijent/pregledi">Pregledi</a>
        <a class="nav-link navbar-link">Obavestenja</a>
        <button class="btn btn-light button" (click)="logout()">Odjava</button>
    </div>
    <div class="container justify-content-around" *ngIf="userType == 'lekar'">
        <a class="nav-link navbar-link" routerLink="/lekar/profil">Profil</a>
        <a class="nav-link navbar-link" routerLink="/lekar/pregledi">Pregledi</a>
        <a class="nav-link navbar-link" routerLink="/lekar/razno">Razno</a>
        <button class="btn btn-light button" (click)="logout()">Odjava</button>
    </div>
    <div *ngIf="userType == 'menadzer'">
        <button class="btn btn-light button" (click)="logout()">Odjava</button>
    </div>
    <div class="container" *ngIf="!isLoggedIn()">
        <button class="btn btn-light button" (click)="goToLogin()">Prijava</button>
    </div>
</nav>