{{userType}}
<div class="background">
    <div class="my-container">
        <div class="login-header">
        </div>
        <div class="my-container-login">
            <img class="image-login" src="../../../assets/login-picture1.jpg">
            <div class="my-table">
                <div class="form-information">
                    <div>
                        <h6>Username:</h6>
                        <input class="username-input" type="text" name="username" placeholder="Username" [(ngModel)]="username">
                    </div>
                    <div>
                        <h6>Password:</h6>
                        <input class="password-input" type="password" name="password" placeholder="Password" [(ngModel)]="password">
                    </div>
                    <div>
                        <div class="register-login-container">
                            <button class="login-btn" (click)="login()">Prijava</button>
                            <button class="register-btn" (click)="goToRegister()">Registracija</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{error}}