<div class="my-container">
    <div class="my-container-login">
        <img class="image-login" src="../../../assets/login-picture.jpg">
        <div class="my-form">
            <form class="form-information">
                <div>
                    <label class="form-label">Username:</label>
                    <input class="form-control" type="text" name="username" placeholder="Username" [(ngModel)]="username">
                </div>
                <div>
                    <p class="form-label">Password:</p>
                    <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="password">
                </div>
                <div *ngIf="errorMessage != ''" class="alert alert-danger my-alert">
                    <span>{{errorMessage}}</span>
                </div>
                <div>
                    <div class="register-login-container">
                        <button class="btn btn-light button" (click)="login()">Prijavi se</button>
                        <button class="btn btn-light button" (click)="goToRegister()">Registracija</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
