<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex justify-content-evenly">
            <a class="nav-link active my-active" aria-current="page" routerLink="/pacijent/profil">Profil</a>
            <a class="nav-link" routerLink="/pacijent/lekari">Lekari</a>
            <a class="nav-link" href="pacijent">Pregledi</a>
            <a class="nav-link" href="pacijent">Obavestenja</a>
            <div *ngIf="isLoggedIn()">
                <button (click)="logout()">Odjava</button>
            </div>
        </div>
    </nav>
</header>
<div>
    <img class="image" [src]="imageUrl">
    <p>{{pacijent?.ime}}</p>
    <p>{{pacijent?.prezime}}</p>
    <p>{{pacijent?.adresa}}</p>
    <p>{{pacijent?.email}}</p>
    <p>{{pacijent?.kontaktTelefon}}</p>
</div>