.homepage-information {
    background-color: rgb(240, 240, 240);
    padding: 4%;
    border-radius: 40px;
    border-color: rgb(69, 69, 75);;
    border-width: 2px;
    border-style: solid;
}

.homepage-header {
    height: 780px;
    background-color: rgb(120, 190, 60);
    background-image: url('../../../assets/homepage-header.jpg');
    background-size: cover;
}

.homepage-description {
    color: rgb(120, 190, 60);
    text-shadow: 1px 1px 2px black;
    display: flex;
    justify-content: center;
}

.homepage-table {
    background-color: rgb(240, 240, 240);
    padding: 4%;
    border-radius: 40px;
    border-color: rgb(69, 69, 75);
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homepage-container {
    background-color: rgba(120, 190, 60, 0.75);
    padding: 4%;
    border-radius: 40px;
    border-color: rgb(69, 69, 75);
    border-width: 2px;
    border-style: solid;
    margin-top: -600px;
    margin-bottom: 50px;
}
