<header>
    <app-navbar></app-navbar>
</header>
<div class="homepage-header"></div>
<main class="container">
    <div class="homepage-container">
        <div class="homepage-information">
            <h1 class="homepage-description">Opis ordinacije</h1>
            <h5 class="homepage-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur imperdiet purus non velit maximus vulputate.
                Suspendisse ultrices blandit rutrum.
                Integer ultrices varius neque vel consequat.
                Suspendisse finibus vel lorem eu commodo.
                Sed a ex finibus, bibendum justo a, convallis dolor
                In sit amet augue sagittis, tempor quam vel, blandit nibh. Nulla facilisi.
                Praesent in sem sit amet purus dignissim condimentum gravida nec dui.
                In quis massa a nunc congue lobortis sed id nulla. Aenean vitae ligula at tellus tristique placerat.
                Nunc eget tortor eros. Phasellus at sem nulla.
                Maecenas sapien urna, efficitur non suscipit et, convallis ac ipsum.
                Aliquam tristique leo sed velit mollis, vel lacinia mi suscipit.
            </h5>
        </div>
        <div class="homepage-galery">
            <h1 class="homepage-description">Galerija</h1>
            <div class="galery-container row">
                <img class="img" src="../../../assets/homepage/galery1.jpg">
                <img class="img" src="../../../assets/homepage/galery2.jpg">
                <img class="img" src="../../../assets/homepage/galery3.jpg">
                <img class="img" src="../../../assets/homepage/galery4.jpg">
                <img class="img" src="../../../assets/homepage/galery5.jpg">
            </div>
        </div>
        <div class="homepage-table">
            <h1 class="homepage-description">Nasi lekari</h1>
            <app-tabela-lekara></app-tabela-lekara>
        </div>
    </div>
</main>
<footer>
    <app-footer></app-footer>
</footer>