<div *ngIf="showComponent">
    <div class="row">
        <div class="col">
            <form #userEditForm="ngForm" class="form-control form">
                <div class="">
                    <label class="form-label">Korisnicko ime</label>
                    <input class="form-control form-input" type="text" [(ngModel)]="formInput.korisnickoIme" name="korisnickoIme">
                </div>
                <!-- <div *ngIf="userType == 'menadzer'">
                    <label class="form-label">Lozinka</label>
                    <input class="form-control" type="text" [(ngModel)]="formInput.lozinka" name="lozinka">
                </div> -->
                <div>
                    <label class="form-label">Ime</label>
                    <input class="form-control" type="text" [(ngModel)]="formInput.ime" name="ime">
                </div>
                <div>
                    <label class="form-label">Prezime</label>
                    <input class="form-control" type="text" [(ngModel)]="formInput.prezime" name="prezime">
                </div>
                <div>
                    <label class="form-label">Adresa</label>
                    <input class="form-control" type="text" [(ngModel)]="formInput.adresa" name="adresa">
                </div>
                <div>
                    <label class="form-label">Kontakt Telefon</label>
                    <input class="form-control" type="text" [(ngModel)]="formInput.kontaktTelefon" name="kontaktTelefon">
                </div>
                <div *ngIf="userType == 'pacijent'">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="text" [(ngModel)]="formInput.email" name="email">
                </div>
                <div *ngIf="userType == 'lekar'">
                    <div>
                        <label class="form-label">Broj licence</label>
                        <input class="form-control" type="text" [(ngModel)]="lekarFormInput.brojLicence" name="brojLicence">
                    </div>
                    <div>
                        <label class="form-label">Specijalizacija</label>
                        <select class="form-select" [(ngModel)]="lekarFormInput.specijalizacija" name="specijalizacija">
                            <option *ngFor="let specijalizacija of specijalizacijaList" [ngValue]="specijalizacija.naziv">{{specijalizacija.naziv}}</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-evenly">
                    <button class="btn button" (click)="saveChanges(userEditForm)">Sacuvaj</button>
                    <button class="btn button" (click)="discardChanges()">Odbaci</button>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="form-image-input" *ngIf="selectedImageFormInput === null">
                    <img class="image" [src]="'http://localhost:4000/images/' + this.user.image">
                </div>
                <div class="form-image-input" *ngIf="selectedImageFormInput !== null">
                    <img class="image" [src]="selectedImageURL">
                </div>
                <div class="form-control mt-5">
                    <input class="my-input-file" type="file" name="slika" accept=".png, .jpg, .jpeg" (input)="fileInput($event)">
                </div>
                <div class="alert alert-danger my-alert" *ngIf="errorArray.length != 0">
                    <p *ngFor="let message of errorArray">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>