<header>
    Homepage header
</header>
<div>
    <div class="info">
        <label>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur imperdiet purus non velit maximus vulputate.
            Suspendisse ultrices blandit rutrum.
            Integer ultrices varius neque vel consequat.
            Suspendisse finibus vel lorem eu commodo.
            Sed a ex finibus, bibendum justo a, convallis dolor
            In sit amet augue sagittis, tempor quam vel, blandit nibh. Nulla facilisi.
            Praesent in sem sit amet purus dignissim condimentum gravida nec dui.
            In quis massa a nunc congue lobortis sed id nulla. Aenean vitae ligula at tellus tristique placerat.
            Nunc eget tortor eros. Phasellus at sem nulla.
            Maecenas sapien urna, efficitur non suscipit et, convallis ac ipsum.
            Aliquam tristique leo sed velit mollis, vel lacinia mi suscipit.
        </label>
    </div>
    <hr>
    <div class="galerija">
    </div>
    <hr>
    <div class="d-flex">
        <table class="table thead-dark table-striped">
            <thead class="table-dark">
                <tr>
                    <th (click)="sortRow(0)">Ime</th>
                    <th (click)="sortRow(1)">Prezime</th>
                    <th (click)="sortRow(2)">Specijalizacija</th>
                    <th>Slika</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lekar of lekari;">
                    <td>{{lekar?.ime}}</td>
                    <td>{{lekar?.prezime}}</td>
                    <td>{{lekar?.specijalizacija}}</td>
                    <td><img class="image" src="http://localhost:4000/images/{{lekar.image}}"></td>
                </tr>
            </tbody>
        </table>
        <form class="form-control">
            <h4>Pretrazi:</h4>
            <div>
                <label class="form-label">Ime:</label>
                <input class="form-control" type="text" name="ime" [(ngModel)]="ime">
            </div>
            <div>
                <label class="form-label">Prezime:</label>
                <input class="form-control" type="text" name="prezime" [(ngModel)]="prezime">
            </div>
            <div>
                <label class="form-label">Specijalizacija:</label>
                <input class="form-control" type="text" name="specijalizacija" [(ngModel)]="specijalizacija">
            </div>
            <br>
            <div>
                <button class="btn btn-dark" (click)="search()">Pretraga</button>
            </div>
        </form>
    </div>
</div>
<footer>
    Homepage footer
</footer>