<main>
    <header>
        <app-navbar></app-navbar>
    </header>
    <div class="main-component container d-flex justify-content-center">
        <div class="pregled-container">
            <h1 class="d-flex justify-content-center header">Zakazani pregledi: </h1>
            <div class="pregled-container-inner" *ngFor="let zakazaniPregled of zakazaniPreglediList">
                <p><span class="span">Naziv:</span> {{zakazaniPregled.pregled['naziv']}}</p>
                <p><span class="span">Cena:</span> {{zakazaniPregled.pregled['cena']}}</p>
                <p><span class="span">Datum:</span> {{zakazaniPregled.datum}}</p>
                <p><span class="span">Vreme:</span> {{zakazaniPregled.vreme}}</p>
                <p><span class="span">Trajanje:</span> {{zakazaniPregled.trajanje}} minuta</p>
                <p><span class="span">Lekar:</span> {{zakazaniPregled.lekar['ime']}} {{zakazaniPregled.lekar['prezime']}} </p>
                <div class="d-flex justify-content-end">
                    <button class="btn button" (click)="deleteZakazaniPregled(zakazaniPregled._id)">Otkazi pregled</button>
                </div>
            </div>
            <div *ngIf="zakazaniPreglediList?.length == 0">
                <h4>Nema zakazanih pregleda</h4>
            </div>
            <hr>
            <h1 class="d-flex justify-content-center header">Izvestaji: </h1>
            <div class="pregled-container-inner" *ngFor="let izvestaj of izvestajList">
                <p><span class="span">Ime lekara:</span> {{izvestaj.lekar['ime']}}</p>
                <p><span class="span">Prezime lekara:</span> {{izvestaj.lekar['prezime']}}</p>
                <p><span class="span">Datum:</span> {{izvestaj.datum}}</p>
                <p><span class="span">Vreme:</span> {{izvestaj.vreme}}</p>
                <p><span class="span">Razlog dolaska:</span> {{izvestaj.razlogDolaska}}</p>
                <p><span class="span">Dijagnoza:</span>  {{izvestaj.dijagnoza}}</p>
                <p><span class="span">Terapija:</span> {{izvestaj.terapija}}</p>
                <p><span class="span">Datum sledeceg pregleda:</span> {{izvestaj.datumSledecegPregleda}}</p>
            </div>
            <div *ngIf="izvestajList?.length == 0">
                <h4>Nema prethodnih izvestaja</h4>
            </div>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</main>