<header>
    <app-navbar></app-navbar>
</header>
<div>
    <img class="image" [src]="lekarImageUrl">
    <p>{{lekar?.ime}}</p>
    <p>{{lekar?.prezime}}</p>
    <p>{{lekar?.adresa}}</p>
    <p>{{lekar?.email}}</p>
    <p>{{lekar?.kontaktTelefon}}</p>
</div>
<form class="form-control" *ngIf="userType == 'pacijent'">
    <div>
        <label>Pregled:</label>
        <select [(ngModel)]="formInput.pregled" name="pregledForm">
            <option *ngFor="let pregled of pregledArray" [ngValue]="pregled">{{pregled.naziv}}</option>
        </select>
    </div><br>
    <div>
        <label>Datum:</label>
        <input type="date" [(ngModel)]="formInput.datum" name="datumForm">
    </div><br>
    <div>
        <label>Vreme:</label>
        <input type="time" [(ngModel)]="formInput.vreme" name="vremeForm">
    </div><br>
    <button (click)="zakaziPregled()">Zakazi Pregled</button>
</form>
{{zakaziPregledMessage}}