<div class="my-container d-flex justify-content-center m-5">
    <form class="form-control align-self-center my-form" #registerForm="ngForm" (submit)="register(registerForm)">
        <div class="mb-3">
            <h2>Registracija</h2>
        </div>
        <hr>
        <div class="mb-2">
            <label class="form-label mx-1">Korisnicko ime:</label>
            <input type="text" class="form-control" [class.submitted]="registerForm.submitted" placeholder="Korisnicko ime" name="korisnickoIme" #korisnickoIme="ngModel" [(ngModel)]="registerInterface.korisnickoIme" required>
            <div [hidden]="(korisnickoIme.pristine && !registerForm.submitted) || errorArray.length === 0" class="alert alert-danger my-alert">
                <label *ngIf="korisnickoIme.invalid">Polje mora biti popunjeno!</label>
                <label *ngIf="errorArray.includes('Error: korisnickoIme already exists!')">Korisnicko ime vec postoji!</label>
            </div>
            <!-- <div class="mx-1 error" *ngIf="submitted && registerData.username == ''">Polje mora biti popunjeno</div> -->
        </div>
        <div class="mb-2">
            <label class="form-label mx-1">Lozinka:</label>
            <input type="password" class="form-control" placeholder="Lozinka" name="lozinka" #lozinka="ngModel" [(ngModel)]="registerInterface.lozinka" required>
            <div [hidden]="lozinka.valid || (lozinka.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
            <!-- <div class="mx-1 error" *ngIf="submitted && registerData.password== ''">Polje mora biti popunjeno</div> -->
        </div>
        <div class="mb-2">
            <label class="form-label mx-1">Ponoviti lozinku:</label>
            <input type="password" class="form-control" placeholder="Lozinka" name="ponovljenaLozinka" #ponovljenaLozinka="ngModel" [(ngModel)]="registerInterface.ponovljenaLozinka" required>
            <div [hidden]="(ponovljenaLozinka.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">
                <label *ngIf="ponovljenaLozinka.invalid">Polje mora biti popunjeno!</label>
                <label *ngIf="registerInterface.lozinka != registerInterface.ponovljenaLozinka">Lozinke se ne podudaraju</label>
            </div>
            <!-- <div class="mx-1 error" *ngIf="repeatPassword.touched && registerData.repeatPassword != registerData.password">Lozinke se ne podudaraju</div> -->
        </div>
        <div class="mb-2">
            <label class="form-label mx-1">Ime:</label>
            <input type="text" class="form-control" placeholder="Ime" name="ime" #ime="ngModel" [(ngModel)]="registerInterface.ime" required>
            <div [hidden]="ime.valid || (ime.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
            <!-- <div class="mx-1 error" *ngIf="repeatPassword.touched && registerData.repeatPassword != registerData.password">Lozinke se ne podudaraju</div> -->
        </div>
        <div class="mb-2">
            <label class="form-label mx-1">Prezime:</label>
            <input type="text" class="form-control" placeholder="Prezime" name="prezime" #prezime="ngModel" [(ngModel)]="registerInterface.prezime" required>
            <div [hidden]="prezime.valid || (prezime.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
            <!-- <div class="mx-1 error" *ngIf="repeatPassword.touched && registerData.repeatPassword != registerData.password">Lozinke se ne podudaraju</div> -->
        </div>
        <div class="mb-2">
            <label class="form-label mx-1">Adresa:</label>
            <input type="text" class="form-control" placeholder="Adresa" name="adresa" #adresa="ngModel" [(ngModel)]="registerInterface.adresa" required>
            <div [hidden]="adresa.valid || (adresa.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
            <!-- <div class="mx-1 error" *ngIf="submitted && registerData.contact == ''">Polje mora biti popunjeno</div> -->
        </div>
        <div class="mb-2">
            <label class="form-label mx-1">Kontakt telefon:</label>
            <input type="text" class="form-control" placeholder="+3816********" name="kontaktTelefon" #kontaktTelefon="ngModel" [(ngModel)]="registerInterface.kontaktTelefon" required>
            <div [hidden]="kontaktTelefon.valid || (kontaktTelefon.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
            <!-- <div class="mx-1 error" *ngIf="submitted && registerData.contact == ''">Polje mora biti popunjeno</div> -->
        </div>
        <div class="mb-2">
            <label class="form-label mx-1">Email adresa:</label>
            <input type="text" class="form-control" placeholder="name@example.com" name="email" #email="ngModel" [(ngModel)]="registerInterface.email" required>
            <div [hidden]="(email.pristine && !registerForm.submitted) || errorArray.length === 0" class="alert alert-danger my-alert">
                <label *ngIf="email.invalid">Polje mora biti popunjeno!</label>
                <label *ngIf="errorArray.includes('Error: email already exists!')">Email vec postoji</label>
            </div>
            <!-- <div class="mx-1 error" *ngIf="submitted && registerData.email == ''">Polje mora biti popunjeno</div> -->
        </div>
        <div class="mb-2 mt-3 d-flex justify-content-evenly">
            <div>
                <input type="radio" class="btn-check" name="typeUser" id="radio1" [(ngModel)]="radioButton" value="radioPacijent">
                <label class="btn btn-outline-dark" for="radio1">Pacijent</label>
            </div>
            <div>
                <input type="radio" class="btn-check" name="typeUser" id="radio2" [(ngModel)]="radioButton" value="radioLekar">
                <label class="btn btn-outline-dark" for="radio2">Lekar</label>
            </div>
        </div>
        <hr>
        <div class="" *ngIf="radioButton == 'radioLekar'">
            <div class="mb-2">
                <label class="form-label mx-1">Broj lekarske licence:</label>
                <input type="text" class="form-control" placeholder="Broj lekarske licence" name="brojLicence" #brojLicence="ngModel" [(ngModel)]="registerInterface.brojLicence" [required]="radioButton == 'radioLekar'">
                <div [hidden]="brojLicence.valid || (brojLicence.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
                <!-- <div class="mx-1 error" *ngIf="submitted && agencyData.agencyName == ''">Polje mora biti popunjeno</div> -->
            </div>
            <div class="mb-2">
                <label class="form-label mx-1">Specijalizacija:</label>
                <input type="text" class="form-control" placeholder="Specijalizacija" name="specijalizacija" #specijalizacija="ngModel" [(ngModel)]="registerInterface.specijalizacija" [required]="radioButton == 'radioLekar'">
                <div [hidden]="specijalizacija.valid || (specijalizacija.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
                <!-- <div class="mx-1 error" *ngIf="submitted && agencyData.country == ''">Polje mora biti popunjeno</div> -->
            </div>
            <div class="mb-2">
                <label class="form-label mx-1">Ogranak ordinacije u kojem lekar radi:</label>
                <input type="text" class="form-control" placeholder="Ogranak ordinacije u kojem lekar radi" name="ogranakOrdinacije" #ogranakOrdinacije="ngModel" [(ngModel)]="registerInterface.ogranakOrdinacije" [required]="radioButton == 'radioLekar'">
                <div [hidden]="ogranakOrdinacije.valid || (ogranakOrdinacije.pristine && !registerForm.submitted)" class="alert alert-danger my-alert">Polje mora biti popunjeno!</div>
                <!-- <div class="mx-1 error" *ngIf="submitted && agencyData.city == ''">Polje mora biti popunjeno</div> -->
            </div>
        </div>
        <!-- <div class="form-control">
            <label class="form-label">Uneti profilnu sliku:</label><br>
            <input class="my-input-file" type="file" name="slika" accept=".png, .jpg, .jpeg" (input)="fileInput($event)">
        </div>
        <div class="d-flex justify-content-center form-control" *ngIf="image !== null">
            <img class="image" [src]="imageURL">
        </div> -->
        <div class="mb-2 mt-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-dark">Register</button>
        </div>
    </form>    
</div>