<div *ngIf="showComponent">
    <div class="my-container">
        <form #userEditForm="ngForm" class="form-control form">
            <div class="">
                <label class="form-label">Stara lozinka:</label>
                <input class="form-control" type="password" [(ngModel)]="formInput.oldPass" name="oldPass" required>
            </div>
            <div>
                <label class="form-label">Nova lozinka:</label>
                <input class="form-control" type="password" [(ngModel)]="formInput.newPass" name="newPass" required>
            </div>
            <div>
                <label class="form-label">Ponovi novu lozinku:</label>
                <input class="form-control" type="password" [(ngModel)]="formInput.repeatPass" name="repeatPass" required>
            </div>
            <div class="d-flex justify-content-evenly">
                <button class="btn button" (click)="updatePassword(userEditForm)">Sacuvaj</button>
                <button class="btn button" (click)="discardChanges()">Odbaci</button>
            </div>
        </form>
        <div class="alert alert-danger" *ngIf="errorMessage != ''">
            <p>{{errorMessage}}</p>
        </div>
    </div>
</div>